
.colorPru {
  color:black
}

.boxHeader{
  height: 130px;
}

/* Variables globales */

.bg-red{
  background: red;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.objectFit {
  object-fit: contain;
}