.colorPru {
  color: black
}

/* Header */

.boxHeader {
  height: 130px;
}

.boxCart {
  padding: 8px;
  margin-right: 40px;
}

.boxCart:hover {
  padding: 8px;
  margin-right: 40px;
}

.headerFix {
  background: rgba(255, 255, 255, 0.88) !important;
  position: fixed;
  width: 100%;
  transition: .5s linear;
}

/* From uiverse.io */
.button {
  display: inline-block;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  color: white;
  z-index: 1;
  background: #008fcc
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: black;
  border: 1px solid black;
}

.button:hover:before {
  top: -35%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.boxCart_amount {
  margin-left: 8px;
}

/* End Header */

/* Home */
.boxHome{
  padding: 10px 0px;
  padding-top:130px;
  flex-direction: row;
}

.boxProducts{
  padding: 0 27px;
}

.boxHome_title {
  border-bottom: 2px solid #008fcc58;
  padding-bottom: 10px;
  font-size: 18px;
  height: 28px;
}

.column{
  flex: 25%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
  border-radius: 25px !important;
}

.column_button{
  border: 4px solid #00000047;
  margin-top: 10px;
  border-radius: 6px;
  background: transparent;
}

.column_button:hover{
 border-radius: 25px !important;
 opacity: 0.6;
 
}

.textChoose {
  padding-top: 14px;
}

.pLeft{
  width: 60%;
}

.pRight{
  width: 40%;
  right: 0;
}

.textDirection::before{
  content:"on the left";
}

.boxImgSelect{
  height: 200px;
  padding-top: 6px;
  position: relative;
}

.boxAmount{
 min-height: 30px;
 min-width: 30px;
 position: absolute;
 top: 10px;
 border-radius: 50%;
 font-size: 15px;
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.564);
}

.ponit{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.564);
  vertical-align:middle;
  margin:0 3px;
  opacity: 0.3;
}

.boxTitleAmount{
  height: 45px;
  margin-top: 15px;
}

.boxOperation{
  height: 45px;
  padding: 10px 0;
}

.boxShop_left{
  padding: 8px;
  border: 1px solid #4f4f4f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.boxShop_right{
  padding: 10px;
  border-top:1px solid #4f4f4f;
  border-right:1px solid #4f4f4f;
  border-bottom:1px solid #4f4f4f;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 40px;
}

/* From uiverse.io */
.btnDelete {
  color: white;
  font-family: inherit;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  font-weight: 500;
  background: #008fcc;
 }
 
 .btnDelete:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .btnDelete:hover {
  color: black;
 }
 
 .btnDelete:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .btnDelete:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .btnDelete:active:before {
  background: rgb(201, 200, 200);
  transition: background 0s;
 }
 

 


/* .boxOperation_label:hover{
  width:30px;
} */

.boxOperation_label {
  position: relative;
  padding: 10px 20px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.222);
  text-shadow: -1px -0.3pxrgba(0, 0, 0, 0.222);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
 }
 
.boxOperation_label:active:hover, .boxOperation_label:active {
  -webkit-transform: translate(0px,5px);
  -ms-transform: translate(0px,5px);
  transform: translate(0px,5px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.222);
  opacity: 0.8;
 }


/* End Home */

/* Variables globales */

/* background */
.bg-red {
  background: red;
}

.bg-azul {
  background: #008fcc;
}

.bg-white {
  background: white;
}

.bg-opacity{
  background: #929292;
}

/* color */
.text-white {
  color: white
}

.text-black {
  color: black
}

.text-blue{
  color: #008fcc
}

.text-opacity{
  color: #929292
}

/* fuentes */
.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-light{
  font-weight: 400;
}

.font-normal{
  font-weight: 300;
}


/* tamanos */
.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.h-20{
  height: 20%;
}

.h-80{
  height: 80%;
}

.h-100 {
  height: 100%;
}

.vh-100{
  height: 100vh;
}

.objectFit {
  object-fit: contain;
}

.border-radius {
  border-radius: 6px;
}

.boxHome_color{
  border-bottom: 2px solid #008fcc58;
}



