.row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.displayFlexEnd {
  display: flex;
  justify-content: flex-end;
}
